body {
    background: url(https://fondosmil.com/fondo/10750.jpg);
    background-repeat: no-repeat;
    background-size: 1200px 800px;
    margin: 20px auto;
}

.Seccion {
    background: hsla(0, 0%, 100%, 0.326);
    color: black;
    width: 400px;
    margin: 20px auto;
    padding: 20px;
    text-align: center;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    border: 3px solid rgb(15, 13, 13);
}

.igris {
    color: rbg (60, 72, 248);
}

.Seccion input {
    width: 30%;
    margin-bottom: 15px;
}

.btn button {
    width: 100%;
    margin-bottom: 100px;
}

.Seccion img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -33%;
    left: 0%;
}

.navegacion {
    text-align: right;
    padding: 10px 10px;
}

.navegacion button>:hover {
    text-decoration: underline;
    padding: 20px;
    color: red;
}